# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment / secrets
.env

# Django
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
